/*
 Theme Name:   Air-light Child
 Description:  Air-light Child Theme
 Author:       Code for Chicago
 Author URI:   https://codeforchicago.org
 Template:     air-light
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  airlightchild
*/

/* Colors */

$light-green: #10ac84; // TODO Remove?
$dark-green: #030303;
$orange: #ec7907;
$dark-grey: #525252;
$light-grey: #eaeaea;
$link-green: #368370;
$hover-link: #909090;

$icon-arrow-down: './sort-down.svg';

/* Body */
.container {
  max-width: 100% !important;
}

/* Header */
#page .nav-container .site-header {
  max-width: 100%;
  padding: 2rem 5%;
}

.nav-primary .menu-items .menu-item
  a, li {
    padding: 0 0 0 2.8rem;
    color: $link-green;
    font-size: 1.8rem;
    font-weight: 700;
  }

#nav {
  display: flex;
}

// TODO
// L398 wp-content/themes/air-light/sass/navigation/_nav-desktop.scss
@media only screen and (min-width: 960px) {
  .nav-primary .menu-item .menu-item-has-children >a {
    padding-right: 2rem;
  }
}

.nav-primary .menu-items .menu-item
  a:hover, li:hover {
    color: $hover-link;
  }

.hamburger-box {
  width: 3rem;

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background-color: $link-green;
  }
}

.nav-toggle:hover {
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background-color: $hover-link;
  }
}

// Dropdown items
// TODO clickable on hover
.nav-primary .menu-items .menu-item ul {
  background: lightblue;
}

// Dropdown toggle arrow
#nav .menu-items .menu-item .dropdown-toggle {
  background-image: url($icon-arrow-down);
  cursor: pointer;
  height: 12px;
  width: 12px;
  top: 55%
}

// TODO fix this
#nav .menu-items .menu-item .dropdown-toggle:hover {
  fill: $hover-link
}

// Desktop header
@media (min-width: 1024px) {
  .logo {
    max-width: 22rem;
    height: auto;
  }
}

// Tablet header
@media (min-width: 768px) and (max-width: 1023px) {
  .logo {
    max-width: 20rem;
    height: auto;
  }
}

// Phone header
@media (max-width: 767px) {
  .logo {
    display: none;
  }
}

// Donate button
// TODO reposition, link, hover state
#donate-button {
  background-color: #126B55;
  border: 0;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 800;
  justify-content: flex-end;
  line-height: 19px;
  margin-left: auto;
  padding: 8px 23px;
}

// TODO confirm
#donate-button:hover {
  background-color: $hover-link;
}

/* Footer */
#site-footer {
  background-color: $light-green;
  color: white;
  font-size: 1.3rem;
  text-align: left;

  @media (min-width: 550px) {
    font-size: 1.5rem;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  min-height: 120px;
  max-width: 2000px;
  margin: 0 auto;

  @media (min-width: 800px) {
    flex-direction: row-reverse;
  }
}

.footer-content-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 720px;
  min-height: 100px;

  @media (max-width: 320px) {
    flex-wrap: wrap;
  }

  @media (min-width: 900px) {
    justify-content: space-around;
  }
}

.footer-logo-container {
  display: none;

  @media (min-width: 900px) {
    display: inline;
    max-width: 360px;
    align-self: center;
  }
}

.footer-logo {
  width: 250px;
  height: auto;
}

.footer-info-container {
  padding: 10px 5px 10px 10px;
  align-self: flex-start;

  @media (min-width: 700px) {
    align-self: center;
  }
}

.social-media-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding: 10px 10px 10px 5px;
}

.footer-newsletter-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  padding: 10px;
  border-top: 2px solid $light-green;

  @media (min-width: 800px) {
    width: 40%;
  }

  label {
    color: $dark-green;
    font-weight: bold;
    font-size: 2rem;
    margin-left: 10px;
  }

  #email {
    border: 1px solid $dark-green;
    border-radius: 5px;
    background-color: white;
    padding: 5px 10px;
    width: 60%;
  }

  .footer-newsletter-input-container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }

  #newsletter-submit {
    background-color: $light-green;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.3;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;
    width: 30%;
    box-shadow: 1px 2px 4px #777;

    @media (max-width: 320px) {
      font-size: 1.4rem;
    }
  }
}

.footer-newsletter-inner-container {
  max-width: 720px;
}

.social-media-container__icons {
  margin-top: 10px;
}

.social-media-icon {
  width: 30px;
  height: 30px;

  @media (min-width: 350px) {
    width: 40px;
    height: 40px;
  }
}

.social-media-link + .social-media-link {
  margin-left: 10px;
}

.site-branding {
  width: 33%;
}

/* KYR Hero Section */
.kyr-hero img {
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
}

.container h1 {
  color: $dark-green;
  margin: 0;
}

// 8-20 Generic Page Template

h2 {
  color: $light-green !important;
  font-size: 18px;
  margin-top: auto;
}

h2:not(:first-child) {
  margin-top: 2em;
}

p {
  line-height: 1.2em !important;
}

figcaption {
  font-style: italic !important;
  text-align: center;
}

// Volunteer Opportunities Page
// Volunteer Opp. Mobile

.section {
  margin-bottom: 5em;
}

.welcome-section {
  margin-top: 2em;
}

.welcome-text {
  display: block;
  line-height: 1em;
}

.column-heading {
  margin-bottom: 0;
}

.column-description {
  margin-top: 1em;
}

// .donations-content p {
  // line-height: 1em;
// }

// Volunteer Opp. Desktop
@media (min-width: 700px) {
  .page-id-7 .container {
    padding-left: 0;
    padding-right: 0;
  }

  .section {
    margin-bottom: 5em;
  }

  .welcome-section {
    margin-top: 2em;

    figure {
      display: flex;

      .volunteer-image {
        min-width: 250px;
        max-width: 50vw;
      }

      div {
        position: relative;

        .welcome-text {
          font-weight: 500;
          height: auto;
          margin: 2em 1em auto 1em;
          right: 0;
          width: 30ch;
        }

        .volunteer-caption {
          align-self: flex-end;
          bottom: 0;
          font-size: 0.8em;
          line-height: 1em;
          margin-right: 1em;
          position: absolute;
          right: 0;
          text-align: right;
        }
      }
    }
  }

  .help-section {
    .columns {
      display: flex;
      justify-content: space-between;

      .column {
        margin: 0 1em auto 0;
        width: 20vw;
      }

      .column-description {
        font-size: 0.8em;
      }
    }
  }

  .donations-content p {
    line-height: 1em;
  }
}

// Volunteer page end

// Home and About page begin
// Desktop
.about-page,
.home-page {
  @media (min-width: 700px) {
    figure {
      margin-bottom: 5em;
      img {
        display: block;
        margin: auto;
        .image-one {
          min-width: 75vw;
        }
      }
      figcaption {
        display: block;
        font-size: 14px;
        margin: 1em auto;
        text-align: center;
      }
    }

    .text-section {
      margin-bottom: 5em;

      h1 {
        color: $light-green;
        font-size: 24px;
        margin-bottom: 1em;
      }

      p {
        font-size: 18px;
        line-height: 1em;
      }
    }

    .columns {
      display: flex;
      justify-content: space-between;

      .column {
        width: 360px;

        .column-image-large {
          margin-top: 5em;
        }

        .column-image-small {
          margin-top: 5em;
        }

        .column-image-caption {
          padding: 1em;
        }
      }

      .column:first-of-type {
        margin-right: 2em;
      }
    }
  }
}

// Mobile

.about-page,
.home-page {
  .image-one-group {
    margin-bottom: 5em;

    .image-one-caption {
      font-size: 14px;
    }
  }

  .section-heading {
    color: $light-green;
    font-size: 24px;
    margin-bottom: 1em;
    text-align: center;
  }

  .column {
    margin-bottom: 5em;
    .column-one-heading,
    .column-two-heading {
      color: $light-green;
      font-size: 24px;
      margin-bottom: 1em;
    }
  }

  .column-image-large {
    margin-top: 0;
  }

  .column-image-small {
    margin-top: 0;
  }

  .column-image-caption {
    font-size: 18px;
    font-style: normal !important;
    line-height: 1em;
    margin-top: 1em;
    padding: 0;
    text-align: left;
  }
}
// Home page and About page end
